{% extends 'shared/layout.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

    <div class="photo-box">
        <div class="owl-carousel owl-theme">
            {% for p in projects|reverse %}
                {% if p.projectImages %}
                    <div class="item" data-merge="{{ p.id == (projects|reverse)[0].id ? "4" : "3" }}">
                        <div class="photo-post">
                            <div class="overlay">
                                <img src="{{ optImg(p.projectImages[0].image ?? '/assets/images/placeholder.png' , 90) }}"
                                     alt="{{ p.title }}">
                            </div>
                            <div class="hover-box">
                                <h2>
                                    <a href="/projects/details/{{ p.id }}">{{ p.title }}</a>
                                </h2>
                                <p>{{ p.subtitle }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="item" data-merge="4">
                    <div class="photo-post">
                        <img src="/assets/images/placeholder.png" alt="placeholder">
                        <div class="hover-box">
                            <h2>
                                <a href="#">No projects</a>
                            </h2>
                            <p>Sorry no projects currently available please check again later</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
