{% extends 'shared/layout.html.twig' %}
{% block title %}Project ({{ model.title }}){% endblock %}

{% block body %}
    <!-- page-banner-section
    ================================================== -->
    <section class="page-banner-section">
        <div class="container-fluid">
            <h1>{{ model.title }}</h1>
            <p>{{ model.subtitle }}</p>
        </div>
    </section>
    <!-- End page-banner section -->

    <!-- single-project section -->
    <section class="single-project-section">
        <div class="single-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <div class="images-project">
                            <div class="row">
                                {% for img in model.projectImages %}
                                    <div class="col-sm-12">
                                        <figure class="project-img">
                                            <div class="img">
                                                <img src="{{ optImg(img.image, 90) }}" alt="{{ img.title }}">
                                            </div>
                                            <figcaption>
                                                <h5 title="{{ img.title }}" class="text-truncate"><b>{{ img.title }}</b>
                                                </h5>
                                                <span>
                                                    <small class="text-muted">Price:&nbsp;</small>
                                                    {% if img.price %}
                                                        ${{ img.price }}
                                                    {% else %}
                                                        <a href="/home/contact-us?quote={{ img.title }}">Quote</a>
                                                    {% endif %}
                                                </span><br>
                                                <span>
                                                    <small class="text-muted">Status:&nbsp;</small>{{ img.state }}
                                                </span><br>
                                                <span><small class="text-muted">Size:&nbsp;</small>{{ img.size }}</span><br>
                                                <span><small
                                                            class="text-muted">Date:&nbsp;</small>{{ img.datePainted|date('d M Y') }}</span><br>
                                                {% if user %}
                                                    <hr>
                                                    <a href="{{ "/projectImages/edit/" ~ model.id ~"/image/" ~ img.id }}">Edit</a> or
                                                    <a href="/projectImages/delete/{{ img.id }}">delete</a> artwork
                                                {% endif %}
                                            </figcaption>
                                        </figure>

                                    </div>
                                {% else %}
                                    <div class="col-md-12">
                                        <img class="project-edit-img" src="/assets/images/placeholder.png" alt="">
                                        <h5>No images</h5>
                                        <p>No artwork has been associated with this project just yet, please check again
                                            in
                                            a moment.</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="project-content">
                            <h2>Project Description</h2>
                            <p>{{ model.description }}</p>
                            {% if user %}
                                <p>
                                    {% if image %}
                                        <a class="btn btn-primary" href="/projects/details/{{ model.id }}">New Image</a>
                                    {% endif %}
                                    <a class="btn btn-primary" href="/projects/edit/{{ model.id }}">Edit</a>
                                    <a class="btn btn-primary" href="/projects/delete/{{ model.id }}">Delete</a>
                                </p>
                                <hr>
                                <h2 id="edit-topic">{{ image ? "Edit image" : "Upload new image" }}</h2>
                                <form enctype="multipart/form-data" method="post"
                                      action="{{ image ? ("projectImages/edit/" ~ image.id) : "/projectImages/create" }}">
                                    {% if image %}
                                        <img class="project-edit-img" src="{{ optImg(image.image, 50) }}"
                                             alt="">
                                        <input hidden name="image" value="{{ image.image }}">
                                        <input hidden name="id" value="{{ image.id }}">
                                    {% endif %}
                                    <input hidden name="projectId" value="{{ model.id }}">
                                    <div class="form-group">
                                        <input class="form-control" value="{{ image.title }}" name="title"
                                               placeholder="Image caption">
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input id="price" class="form-control" type="number" value="{{ image.price }}"
                                               name="price"
                                               placeholder="Price">
                                    </div>
                                    <div class="form-group">
                                        <label for="size">Size</label>
                                        <input id="size" class="form-control" type="text" value="{{ image.size }}"
                                               name="size"
                                               placeholder="Size eg. 100'x100'">
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Date painted</label>
                                        <input id="date" class="form-control" type="date"
                                               value="{{ image.datePainted ? (image.datePainted|date('Y-m-d')) : '' }}" name="datePainted"
                                               placeholder="Date">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <select id="state" class="form-control" name="state">
                                            <option {{ image.state == "Available" ? "selected" : "" }}>Available
                                            </option>
                                            <option {{ image.state == "Unavailable" ? "selected" : "" }}>Unavailable
                                            </option>
                                            <option {{ image.state == "Sold" ? "selected" : "" }}>Sold</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <input id="image" type="file" class="form-control" name="image">
                                    </div>
                                    <button type="submit" class="btn-default btn btn-dark">Save image</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End single-project section -->
{% endblock %}